/* SUBMIT ROW */

.submit-row {
    position: sticky;
    top: 0;
/*     top: var(--header-height); */
    padding: 12px 14px 12px;
    margin: 0 0 20px;
    background: var(--darkened-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

body.popup .submit-row {
    overflow: auto;
}

.submit-row input {
    height: 2.1875rem;
    line-height: 0.9375rem;
}

.submit-row input, .submit-row a {
    margin: 0;
}

.submit-row input.default {
    text-transform: uppercase;
}

.submit-row span {
    margin-left: auto;
    padding: 0.625rem 0.9375rem;
}

.submit-row a.addlink,
.submit-row a.deletelink,
.submit-row a.history {
    display: block;
    border-radius: 4px;
    padding: 0.625rem 0.9375rem;
    height: 0.9375rem;
    line-height: 0.9375rem;
    color: var(--button-fg);
}

.submit-row a.addlink {
    background: var(--add-button-bg);
    margin-left: auto;
    text-transform: uppercase;
}

.submit-row a.deletelink {
    background: var(--delete-button-bg);
    margin-left: auto;
}


.submit-row a.closelink {
    display: inline-block;
    background: var(--close-button-bg);
    border-radius: 4px;
    padding: 10px 15px;
    height: 0.9375rem;
    line-height: 0.9375rem;
    color: var(--button-fg);
}

.submit-row a.history {
    background: var(--history-button-bg);
    margin-right: auto;    
}

.submit-row a.addlink:focus,
.submit-row a.addlink:hover,
.submit-row a.addlink:active {
    background: var(--add-button-hover-bg);
    text-decoration: none;
}

.submit-row a.deletelink:focus,
.submit-row a.deletelink:hover,
.submit-row a.deletelink:active {
    background: var(--delete-button-hover-bg);
    text-decoration: none;
}

.submit-row a.closelink:focus,
.submit-row a.closelink:hover,
.submit-row a.closelink:active {
    background: var(--close-button-hover-bg);
    text-decoration: none;
}

.submit-row a.history:focus,
.submit-row a.history:hover,
.submit-row a.history:active {
    background: var(--history-button-hover-bg);
    text-decoration: none;
}